*.pth
*.abc
*.xml
*.mscz
.idea
/data/*
!/data/
!/data/.gitkeep
!/data/tokenizer.py
!/data/dataset.py
/data/logs
/data/raw
/data/preprocessed
/checkpoints
/output/*
/.idea
/__pycache__
.gitignore